<%= form_for Player.new do |f| %>
  
  <p>What is your favorite brand of running shoe?</p>

<% GamePiece::TEAMS.each do |team| %>
  <label><%= f.radio_button :answer, team[:color] %> <%= team[:name] %></label><br />
<% end %>

  <p><%= f.submit %></p>

<% end %>