// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#board {
    height:1024px;
    width:1024px;
    background-image: url('board_w_squares.png');
    background-repeat: no-repeat;
    position: relative;

    div {
      width: 136px;
      height: 135px;
      outline: 1px solid red;
      position: absolute;
    }
}

.marker {
  height: 90px;
  width: 75px;
  background-image: url('markers.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999px;
}

.colorred {
  background-position: 0 0;
}

.colorblue {
  background-position: 0 -110px;
}

.coloryellow {
  background-position: 0 -215px;
}

.colorgreen {
  background-position: 0 -320px;
}

#space0 {
  top: 20px;
  left: 20px;
}

#space1 {
  top: 20px;
  left: 160px;
}

#space2 {
  top: 20px;
  left: 302px;
}

#space3 {
  top: 20px;
  left: 444px;
}

#space4 {
  top: 20px;
  left: 585px;
}

#space5 {
  top: 20px;
  left: 728px;
}

#space6 {
  top: 20px;
  left: 870px;
}

#space7 {
  top: 160px;
  left: 870px;
}

#space8 {
  top: 302px;
  left: 870px;
}

#space9 {
  top: 302px;
  left: 728px;
}

#space10 {
  top: 302px;
  left: 585px;
}

#space11 {
  top: 302px;
  left: 444px;
}

#space12 {
  top: 302px;
  left: 302px;
}

#space13 {
  top: 302px;
  left: 160px;
}

#space14 {
  top: 302px;
  left: 18px;
}

#space15 {
  top: 446px;
  left: 18px;
}

#space16 {
  top: 586px;
  left: 18px;
}

#space17 {
  top: 586px;
  left: 160px;
}

#space18 {
  top: 586px;
  left: 302px;
}

#space19 {
  top: 586px;
  left: 444px;
}

#space20   {
  top: 586px;
  left: 585px;
}

#space21   {
  top: 586px;
  left: 728px;
}

#space22   {
  top: 586px;
  left: 870px;
}

#space23   {
  top: 728px;
  left: 870px;
}

#space24   {
  top: 869px;
  left: 870px;
}

#space25   {
  top: 869px;
  left: 728px;
}

#space26   {
  top: 869px;
  left: 586px;
}
